In [1]:
import numpy as np
import pandas as pd

In [58]:
Admission_Predict = pd.read_csv('/home/stmohammed/datasets/Admission_Predict.csv')

In [59]:
Admission_Predict.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [60]:
Admission_Predict.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [61]:
def change_value(A):
    return 1 if A>0.6 else 0

In [62]:
Admission_Predict['Chance of Admit '] = Admission_Predict['Chance of Admit '].apply(change_value)

In [63]:
from sklearn.model_selection import train_test_split

In [78]:
x=Admission_Predict
y=Admission_Predict[['Chance of Admit ']]

In [79]:
x[0:1]

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,1

In [80]:
admission_train,admission_test,admission_target_train,admission_target_test =train_test_split(x,y,test_size=0.7)

In [81]:
admission_train.to_csv('admission_train.csv', index=False)
admission_test.to_csv('admission_test.csv', index=False)
admission_target_train.to_csv('admission_target_train.csv', index=False)
admission_target_test.to_csv('admission_target_test.csv', index=False)

In [38]:
###Measurement##

In [118]:
measurements = pd.read_csv('/home/stmohammed/datasets/measurements.csv')

In [122]:
def replace_comm(a):
#     print(a)
    a =str(a)
    a= a.replace(',','.')
#     print(a)
    return float(a)

In [123]:
measurements['consume'] = measurements['consume'].apply(replace_comm)
measurements['distance'] = measurements['distance'].apply(replace_comm)
measurements['temp_inside'] = measurements['temp_inside'].apply(replace_comm)
measurements['temp_outside'] = measurements['temp_outside'].apply(replace_comm)

In [124]:
measurements.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12.0,NaN,E10,0,0,0,45,E10
1,12.0,4.2,30,21.5,13.0,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15.0,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14.0,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15.0,NaN,E10,0,0,0,NaN,NaN

In [125]:
x=measurements
y=measurements[['consume']]

In [126]:
measurements_train,measurements_test,measurements_target_train,measurements_target_test =train_test_split(x,y,test_size=0.7)
measurements_train.to_csv('measurements_train.csv', index=False)
measurements_test.to_csv('measurements_test.csv', index=False)
measurements_target_train.to_csv('measurements_target_train.csv', index=False)
measurements_target_test.to_csv('measurements_target_test.csv', index=False)

In [86]:
##Travel

In [87]:
travel = pd.read_csv('/home/stmohammed/datasets/travel insurance.csv')

In [102]:
# travel

In [88]:
x=travel
y=travel[['Claim']]

In [89]:
travel_train,travel_test,travel_target_train,travel_target_test =train_test_split(x,y,test_size=0.7)
travel_train.to_csv('travel_train.csv', index=False)
travel_test.to_csv('travel_test.csv', index=False)
travel_target_train.to_csv('travel_target_train.csv', index=False)
travel_target_test.to_csv('travel_target_test.csv', index=False)

In [90]:
#Weather
weather = pd.read_csv('/home/stmohammed/datasets/weatherAUS.csv')

In [91]:
weather[0:0]

Empty DataFrame
Columns: [Date, Location, MinTemp, MaxTemp, Rainfall, Evaporation, Sunshine, WindGustDir, WindGustSpeed, WindDir9am, WindDir3pm, WindSpeed9am, WindSpeed3pm, Humidity9am, Humidity3pm, Pressure9am, Pressure3pm, Cloud9am, Cloud3pm, Temp9am, Temp3pm, RainToday, RISK_MM, RainTomorrow]
Index: []

[0 rows x 24 columns]

In [93]:
x=weather
y=weather[['RainTomorrow']]

In [94]:
weather_train,weather_test,weather_target_train,weather_target_test =train_test_split(x,y,test_size=0.7)
weather_train.to_csv('weather_train.csv', index=False)
weather_test.to_csv('weather_test.csv', index=False)
weather_target_train.to_csv('weather_target_train.csv', index=False)
weather_target_test.to_csv('weather_target_test.csv', index=False)

In [96]:
#House
house = pd.read_csv('/home/stmohammed/datasets/train.csv')

In [97]:
house.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [98]:
x=house
y=house[['SalePrice']]

In [99]:
house_train,house_test,house_target_train,house_target_test =train_test_split(x,y,test_size=0.7)
house_train.to_csv('house_train.csv', index=False)
house_test.to_csv('house_test.csv', index=False)
house_target_train.to_csv('house_target_train.csv', index=False)
house_target_test.to_csv('house_target_test.csv', index=False)

In [100]:
house_train.shape,house_test.shape

((438, 81), (1022, 81))